* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;

  font-style: normal;
}
body {
  height: 100vh;
  width: 100%;
  background-image: url("Images/Banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(0.5px);
}
.navbar {
  height: auto;
  width: 100%;

}
.navbar-container {
  height: 80px;
  width: 80%;

  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-container ul li {
  list-style: none;
  padding-left: 10px;
}
.navbar .navbar-container ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.navbar .navbar-container ul {
  height: 80px;
  display: flex;
  align-items: center;
}
.navbar-container .right li {
  padding-right: 10px;
}
.home {
  display: flex;
}
.home .div1 {
  height: 100vh;
  width: 65vw;
}
.home .div2 {
  height: 100vh;
  width: 35vw;
}
.home .div1 .text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 23%;
  color: white;
}
.home .div1 .text a {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.home .div1 .text a i {
  font-size: 32px;
}
.login
{
  position: relative;
  top: 10%;
  margin: auto;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  background: white;
}
.log-con
{
  height: 400px;
  width: 80%;

  margin: auto;
  position: relative;
  top: 50px;
}
.log-con .p_
{
  margin-top:20px;
  color: grey;
}
.log-con input
{
  height: 40px;
  outline: none;
border: none;
background-color: rgb(201, 201, 201);
  border-radius: 30px;
  margin-top: 40px;
  padding-left: 20px;
  width: 100%;
}
.log-con .submit
{
  background-color: rgb(52, 52, 94);
  color: white;
}